p {
	text-align: center;
	font-family: 'Hammersmith One';
	font-size: 12pt;
}

.kanban-column-header {

}

.kanban-column-header-pieces {
	align-items: center;
	justify-content: center;
	height: 80px;
}

.kanban-column-header-info  {
	text-align: center;
}

.addJobButton, .toggleButton {
	width: 100%;
	box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.25);
}

.flex {
	display: flex;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-item {
	flex: 1;
	align-self: center;
}

.flex-item-3 {
	flex: 3;
}

.bold {
	font-weight: bold;
}

.gray {
	color: gray;
}